.title {
  margin-left: 10px;
  cursor: pointer;
}

mat-icon {
  cursor: pointer;
}

button {
  position: absolute;
  right: 10px;
}

mat-tree-node:hover {
  background-color: #eee;
}

.level-0 {
  font-size: 22px;
  font-weight: bold;
}

.level-0 .title {
  float: right;
  width: 250px;
}

.level-0 .mat-icon-rtl-mirror {
  float: right;
}

.level-1 {
  font-size: 18px;
  font-weight: bold;
}

.level-1 .title {
  float: right;
  width: 240px;
}

.level-1 .mat-icon-rtl-mirror {
  float: right;
}

.level-2 {
  font-size: 16px;
  font-weight: bold;
}

.level-2 .title {
  float: right;
  width: 230px;
}

.level-2 .mat-icon-rtl-mirror {
  float: right;
}

.selected {
  background-color: #ccc;
}
